@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
  }

  /* Shared styles*/
  .dark-1{
    color: #131313;
  }
  .dark-2{
    color: #424242;
  }
  .dark-3{
    color: #727272;
  }
  .dark-4{
    color: #A1A1A1;
  }
  .grey-text{
    color:rgb(114,114,114);
  }
.normal-font{
    font-size: 3rem;
    font-weight: 700;
}
.body-size{
    width: 80%;
    margin: 0 auto;
}

.bg-pink{
    background-color:rgba(255, 144, 14, 0.1);
}
.text-primary{
    color: rgb(255, 144, 14);
}
.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin: 30px auto;
}

/* Header styles*/


/*Navbar styles*/
  .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
  .nav-links{
    display: flex;
    justify-content: space-around;

  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
  }
  /*navbar ends*/

/*banner styles*/
  .banner{
    max-width: 100%;
  }
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 40px;
  }
  .banner-title{
    margin-bottom: 40px;
    font-size: 4rem;
  }
  .banner-description{
    margin: 15px auto;
}
.banner-image {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    display: block;
}

/*team section */
.team{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 50px;
}
.team-image img{
    height: 300px;
    width: 300px;
    border: 1px dashed grey;
    border-radius: 8px;
}
.team-text{
    max-width: 500px;
    height: 300px;
    margin-left: 100px;
}
.team-text h3{
    margin-top: 20px;
    margin-bottom: 25px;
}
/*team ends*/

/*features starts here*/
.features{
    display: flex;
    margin: 0 auto;
    margin-top: 70px;
}
.features-text{
    width: 50%;
}
.features-text p{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 80%;
}
.features-image{
    width: 50%;
}
.features-image img{
    width: 100%;
    height: 800px;
    border: 2px dashed grey;
}
.feature-card{
    border-radius: 8px;
    padding-left: 10px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    width: 80%;
}
#experience-badge{
    padding: 15px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -500px;
}

#experience-year{
    font-size: 3rem;
    font-weight: 700;
}
/*features ends here*/
/*facts starts*/
.facts-container{
    display: flex;
}


.facts p{
    margin-bottom: 70px;
    margin-top: 15px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 120px;
}
.fact-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;

}
/*facts ends*/

/*sponsors starts*/

.sponsors{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
}
.sponsors-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors p{
    margin-top: 20px;
    margin-bottom:40px ;
}
.sponsor-companies img{
  filter: grayscale(100%);
}

/*sponsors ends*/
/* footers starts*/
footer{
    width: 80%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 1.5rem;
}
/*footer ends*/
/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar, 
  .nav-links, 
  .features,
  .team{
      flex-direction: column;
  }

  .team-image, 
  .facts-container, 
  .sponsor-companies
  {
      grid-template-columns: 1fr;
  }

  .facts-container{
      justify-items: center;
      gap: 24px;
  }

  .sponsor-companies{
      justify-items: center;
      gap: 50px;
  }

  .team-text
      margin-left: 20px;
  }

  #experience-badge{
      margin-top: 20px;
      margin-left: 20px;
  }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .team, .features{
      flex-direction: column;
  }
  .team-text{
      margin: 50px auto;
  }

  .sponsor-companies, .facts-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      justify-items: center;
  }

  #experience-badge{
      margin-top: 20px;
      margin-left: 20px;
  }
}